@import url("https://use.typekit.net/jgp5qnc.css");


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    background: white;
    justify-content: center;
    align-items: right;
}

.logo{
    flex: 20%;
    margin-left: 10%;
   /* border: 1px solid red;*/
    text-align: left;
}

.logo h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #180f4a;
    font-size: 34px;
}

.menu{
    flex: 70%;
    /*border: 1px solid green;*/
    text-align: right;
    padding: 10px;
}

.menu a{
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #ff297f;
    border-top: 4px solid #180f4a;
}

#botao{
    background: #180f4a;
    padding: 10px 25px;
    color:white;
    border-radius: 15px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background: #ff297f;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
}

.headline{
    flex: 40%;
    margin-left: 10%;
    /*border: 1px solid black;*/
}

.headline h2{
    font-weight: 900px;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;
}

.headline p{
    color: gray;
    text-align: left;
}

.contact-btn{
        background: #ff297f;
        padding: 10px;
        color: white;
        text-transform: uppercase;
        border-radius: 5px;
        text-decoration: none;
}

.contact-btn:hover{
    background: #180f4a;
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
     /*border: 1px solid pink;*/
     text-align: center;
}

section{
    display: inline-block;
    margin-top: 8px;
    /*border: 1px solid black;*/
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
}

section h2{
        width: 100%;
        font-size: 50px;
        margin: 0;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: #180f4a;
}

.serviços{
    display: inline-block;
    margin-top: 5%;

}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #ff297f;
    border-radius: 10px;
    cursor: pointer;
}

.text-oculto{
    display: none;
}

.card:hover{
    background:#ff297f;
    color: white;
    padding: 40px;
}

.card:hover img{
    display: none;
}

.card:hover card-text{
    display: none;
}

.card:hover .text-oculto{
    display: block;
}

footer{
    margin-top: 100%;
    height: 400px;
    background-image: linear-gradient(180deg, #180f4a,#090422,black);
    text-align: center;
    border-top: 5px solid #ff297f;
}

.logo-rodape{
    padding: 5px;
}

.agencia{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 34px;
}

.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 100px;
}

